<footer class="bg-dark copyrights text-white py-6 mt-auto">
    <div class="container">
        <div class="row text-center gy-2">
            <div class="col-md-6">
                <span class=" mb-0 fw-light text-sm mx-3" >Copyright &copy; Maduka's Blog 2023</span>
                <a class="link-light small" href="#">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="{% url 'contact' %}">Contact</a>
            </div>
            <div class="col-md-2 ">
                <ul class="list-unstyled">
                    <li class="list-inline-item"><a class="text-reset me-2" href="#"><i
                                class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a class="text-reset me-2" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a class="text-reset me-2" href="#"><i
                                class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a class="text-reset me-2" href="#"><i class="fab fa-behance"></i></a>
                    </li>
                    <li class="list-inline-item"><a class="text-reset me-2" href="#"><i
                                class="fab fa-pinterest"></i></a></li>
                </ul>
            </div >
            

        </div>
    </div>
</footer>