{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<div class="col-9 offset-2 mb-5 mt-3">
    <h3>Welcome to the Password Reset Page</h3>
    <div class="alert alert-info">
        Forgot your password? Please enter the email address you used to register
    with us and we will send you a link to reset your password
    </div>
    {{ form.media }}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form password_form %}
        <button class="btn btn-primary">Send mail</button>
    </form>
</div>




{% endblock %} 